/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.insta-icon{
	  width: 100% !important;
	  top: -1rem !important;
	}
	.icon-like img, .icon-user img{
		width: 70%;
	}
	.face-icon{
		top: -1rem !important;
	}

	.face-icon img{
		width: 80% !important;
	}
	.icon-like {
	    top: -2rem !important;
    	left: -0.7rem !important;
	}
	.icon-user{
		bottom: -14rem !important;
	}
  	.bounce-1, .bounce-4, .bounce-5, .bounce-2, .bounce-3 {
	  animation-name: b !important;
	}
	.sdelaem, .osnov{
		font-size: 39.5px !important;
	}
	.instagram-text, .facebook-text{
		font-size: 35px !important;
	}
	.instagram-text-second, .face-text-second{
		width: 5% !important;
	}
	.usersecond{
		width: 3.5% !important;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.text-zayavka, .button{
		margin-left: 0 !important;
	}
	.main-section{
		padding-top: 120px !important;
	}
	.insta-icon, .face-icon{
		top: 0 !important;
	}
	.icon-like{
		top: -2.5rem !important;
    	left: -2rem !important;
	}
	.icon-like img, .icon-user img{
		width: 80%;
	}
	.second-section{
		padding-top: 10px !important;
	}
	.quest{
		padding-top: 20px !important;
		font-size: 25px !important;
	}
	.roket img{
		margin-top: 0 !important;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
  	.main-section{
  		padding-bottom: 390px !important;
  	}
  	.insta-icon img{
  		width: 65% !important;
  	}
  	.face-icon img{
  		width: 60% !important;
  	}
  	.face-icon{
  		width: 100% !important;
  	}
  	.insta-icon, .face-icon{
  		display: -webkit-flex;
  		display: -moz-flex;
  		display: -ms-flex;
  		display: -o-flex;
  		display: flex;
  		justify-content: center;
  	}
  	.icon-like{
  		top: 1rem !important;
  		left: 6rem !important;
  	}
  	.icon-user{
  		right: 6rem !important;
  		bottom: -17rem !important;
  	}
  	.heading p{
  		font-size: 28px !important;
  	}
  	.quest {
  		font-size: 18px !important;
  	}
  	.zayvki{
  		font-size: 15px;
  	}
  	.icons-mainblock.sec{
  		display: block !important;
  	}
  	.first-section-main{
  		display: none;
  	}
	  
}

@media only screen and (max-width : 576px) {
	.line{
		display: none;
	}
	.heading p {
	    font-size: 20px !important;
	}
	.quest {
	    font-size: 15px !important;
	}
	.zayvki {
	    font-size: 13px;
	    margin-bottom: 0 !important;
	}
	.quest {
	   padding-top: 0px !important;
	}
	.text-btn {
	    font-size: 13px !important;
	}
	.kavichki{
		width: 8%;
		right: 12% !important;
    	top: 15% !important;
	}
	.roket img{
		width: 100% !important;
		margin-top: -30px !important;
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.sdelaem, .osnov {
	    font-size: 35px !important;
	}
	.jel-prodaj{
		font-size: 35px;
	}
	.roket-cont{
		display: none;
	}
	.sec-sec{
		max-width: 100%;
		flex: 100%;
	}
	.quest, .zayvki, .second-section .button{
		padding-left: 35px !important;
	}
	.heading p {
	    font-size: 22px !important;
	}
	.quest br, .zayvki br{
		display: none;
	}
	.quest {
	    font-size: 18px !important;
	}
	.predloj{
		-ms-flex: 0 0 91.666667%;
	    flex: 0 0 91.666667%;
	    max-width: 91.666667%;
	}
	.roket-cont-2{
	  display: block !important;
	}
	.roket img{
		margin-top: 0 !important;
	}
	.cont-2{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
	}
	.cloud{
		top: -17% !important;
	}
	.instagram-text-second, .face-text-second{
		top: 2.5% !important;
	}
	.icon-like {
	    top: 0.5rem !important;
	    left: 5rem !important;
	}
	.icon-user {
	    right: 6rem !important;
	    bottom: -16rem !important;
	}
	.main-section {
	    padding-bottom: 310px !important;
	}
	.cloud.second{
	  display: block !important;
	}
	.cloud.first{
		display: none;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	.instagram-text, .facebook-text {
	    font-size: 33px !important;
	}
	.sdelaem, .osnov, .jel-prodaj {
	    font-size: 33px !important;
	}
	.button-cl{
		padding: 15px 20px !important;
	}
	.facebook-text{
		/*display: flex;*/
    	margin-top: -1rem;
	}
	.text-sec-mainblock span{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	}
	.jel-prodaj{
		margin-top: 0 !important;
	}
	.icon-like {
	    top: 0rem !important;
	    left: 3rem !important;
	    width: 20%;
	}
	.icon-user {
	    right: 4rem !important;
	    bottom: -12rem !important;
	    width: 20%;
	}
	.insta-icon img {
	    width: 85% !important;
	}
	.cloud.third{
		display: block !important;
	}
	.second-section .text-btn {
	    font-size: 11px !important;
	}
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

@media only screen and (min-width : 576px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  
}