body {
  /*font-family: 'Open Sans', arial, sans-serif;
  color: #494d55;
  font-size: 14px;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1b1c1e;
}
p {
  margin-bottom: 15px;
  line-height: 1.5;
}
a {
  color: #3aa7aa;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
a:hover {
  text-decoration: underline;
  color: #339597;
}
a:active {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
.btn,
a.btn {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
}
.btn .fa,
a.btn .fa {
  margin-right: 5px;
}
.btn-cta,
a.btn-cta {
  font-weight: bold;
  font-size: 16px;
  padding: 10px 30px;
}
.btn-primary {
  background: #40babd;
  border: 1px solid #40babd;
  color: #fff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.hover {
  background: #3aa7aa;
  color: #fff;
  border: 1px solid #3aa7aa;
}
.carousel-fade .carousel-inner .item {
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
}
.carousel-indicators {
  bottom: 30px;
  margin-bottom: 0;
}
.carousel-indicators li {
  background-color: rgba(255, 255, 255, 0.4);
  border: none;
  width: 11px;
  height: 11px;
  margin: 0;
  margin-right: 5px;
}
.carousel-indicators li.active {
  background-color: #40babd;
  width: 11px;
  height: 11px;
  margin: 0;
  margin-right: 5px;
}
/* ======= Header ======= */
.header {
  position: fixed;
  width: 100%;
  z-index: 30;
  /*height: 60px;*/
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
}
.header.header-scrolled .dark-logo{
  display: block;
}
.header.header-scrolled .light-logo{
  display: none;
}
.header .dark-logo{
  display: none;
}
.header.header-scrolled {
  background: #fff;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}
.header.header-scrolled .nav-link{
  color: #494d55;
}
.header.header-scrolled a {
  color: #494d55;
}
.header.header-scrolled .logo {
  color: #40babd;
  padding-top: 12px;
}
.header.header-scrolled .logo .logo-icon-wrapper {
  background: #40babd;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  text-align: center;
}
.header.header-scrolled .logo .logo-icon {
  width: 20px;
  height: 20px;
  margin-right: 0;
}
.header.header-scrolled .main-nav .nav .nav-item a {
  color: #a2a6af;
}
.header.header-scrolled .main-nav .nav .nav-item.active a {
  color: #494d55;
  border-bottom: 4px solid #40babd;
}
.header a {
  color: #fff;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
}
.header a:hover {
  text-decoration: none;
}
.header .logo {
  margin: 0;
  display: inline-block;
  float: left;
  font-size: 28px;
  padding-top: 15px;
}
.header .logo .logo-icon-wrapper {
  margin-right: 3px;
  position: relative;
  display: inline-block;
  top: -3px;
}
.header .logo .logo-icon {
  width: 30px;
  height: 30px;
}
.header .logo .highlight {
  font-weight: 800;
}
.main-nav {
  margin-top: 6px;
}
.main-nav .navbar-toggle {
  margin-right: 0;
  margin-top: 0;
  background: none;
  position: absolute;
  right: 10px;
  top: 10px;
  background: #26282c;
}
.main-nav .navbar-toggle:focus {
  outline: none;
}
.main-nav .navbar-toggle .icon-bar {
  background-color: #fff;
  height: 3px;
}
.main-nav .navbar-toggle:hover .icon-bar {
  background-color: #fff;
}
.main-nav .nav .nav-item {
  font-weight: normal;
  font-size: 14px;
  margin-right: 25px;
}
.main-nav .nav .nav-item.active a {
  background: none;
  color: #fff;
}
.main-nav .nav .nav-item a {
  color: rgba(255, 255, 255, 0.65);
  font-weight: 700;
}
.main-nav .nav .nav-item a:hover {
  color: #fff;
  background: none;
}
.main-nav .nav .nav-item a:focus {
  outline: none;
  background: none;
}
.main-nav .nav .nav-item a:active {
  outline: none;
  background: none;
}
.main-nav .nav .nav-item:last-child {
  margin-right: 0;
}
.main-nav .nav.active {
  position: relative;
}
.nav > li > a {
  padding-left: 5px;
  padding-right: 5px;
}









/*--------------shrifty------------------*/
@font-face {
  font-family: 'Circe Bold';
  src: url('../fonts/Circe-Bold.eot');
  src: url('../fonts/Circe-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Circe-Bold.woff') format('woff'),
  url('../fonts/Circe-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Circe Light';
  src: url('../fonts/Circe-Light.eot');
  src: url('../fonts/Circe-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Circe-Light.woff') format('woff'),
  url('../fonts/Circe-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Circe ExtraBold';
  src: url('../fonts/Circe-ExtraBold.eot');
  src: url('../fonts/Circe-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Circe-ExtraBold.woff') format('woff'),
  url('../fonts/Circe-ExtraBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Circe Regular';
  src: url('../fonts/Circe-Regular.eot');
  src: url('../fonts/Circe-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Circe-Regular.woff') format('woff'),
  url('../fonts/Circe-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova Bold';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova-Bold.woff') format('woff'),
  url('../fonts/ProximaNova-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova Light';
  src: url('../fonts/ProximaNova-Light.eot');
  src: url('../fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova-Light.woff') format('woff'),
  url('../fonts/ProximaNova-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Klavika Bold';
  src: url('../fonts/Klavika-Bold.eot');
  src: url('../fonts/Klavika-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Klavika-Bold.woff') format('woff'),
  url('../fonts/Klavika-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.proxima-nova-bold{
  font-family: 'Proxima Nova Bold';
}
.proxima-nova-light{
  font-family: 'Proxima Nova Light';
}
.circe-bold{
  font-family: 'Circe Bold';
}
.circe-light{
  font-family: 'Circe Light';
}
.klavika{
  font-family: 'Klavika Bold';
}
.circe-extrabold{
  font-family: 'Circe ExtraBold';
}
.circe-regular{
  font-family: 'Circe Regular';
}
/*--------------shrifty------------------*/

.sdelaem, .osnov{
  color: #fff;
  font-size: 44px;
}
.instagram-text{
  font-size: 43.37px;
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.facebook-text{
  color: #273892;
  font-size: 43.37px;
}
.text-sec-mainblock{
  font-size: 44px;
    margin-top: -25px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}
.jel-prodaj{
  color: #fff1a9;
  margin-top: -25px;
}

.main-section{
  background: url(../img/1-mainbg.png) no-repeat center center;
  -webkit-background-size: cover;
  background-size: cover;
  /*height: 100vh;*/
  padding-top: 200px;
  padding-bottom: 210px;
  position: relative;
}
.sec-inst{
  position: absolute;
  top: 17%;
  left: 11%;
}

.header nav {
  width: 100%;
}
.header .navbar-collapse {
  justify-content: flex-end;
}
.insta-icon img, .face-icon img{
  width: 100%;
}
.icons-mainblock, .likes-block{
  position: relative;
}
.face-icon{
  position: absolute;
  top: -11rem;
  z-index: 1;
  width: 130%;
}
.insta-icon{
  position: absolute;
  top: -11rem;
  z-index: 9;
  width: 130%;

}
.icon-like{
  position: absolute;
  top: -5.5rem;
  left: 3.5rem;
  z-index: 10;
}
.icon-user{
  position: absolute;
  bottom: -25rem;
  right: 0rem;
  z-index: 10;
}

.box{
  animation-duration: 7s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
}
.box1{
  animation-duration: 7s;
  animation-iteration-count: infinite;
  transform-origin: top;
}
.box3{
  animation-duration: 5s;
  animation-iteration-count: infinite;
  transform-origin: top;
}
.box4{
  animation-duration: 5s;
  animation-iteration-count: infinite;
  transform-origin: top;
}
.box5{
  animation-duration: 7s;
  animation-iteration-count: infinite;
  transform-origin: top;
}
.bounce-1 {
  animation-name: bounce-1;
  animation-timing-function: ease;
}
.bounce-2 {
  animation-name: bounce-2;
  animation-timing-function: ease;
}
.bounce-3 {
  animation-name: bounce-3;
  animation-timing-function: ease;
}
.bounce-4 {
  animation-name: bounce-4;
  animation-timing-function: ease;
}
.bounce-5 {
  animation-name: bounce-5;
  animation-timing-function: ease;
}
 @keyframes bounce-2 {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-30px); }
  100% { transform: translateY(0); }
}
 @keyframes bounce-1 {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(30px); }
  100% { transform: translateY(0); }
}
 @keyframes bounce-3 {
  0%   { transform: translateX(0); }
  50%  { transform: translateX(20px); }
  100% { transform: translateX(0); }
}
@keyframes bounce-4 {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-30px); }
  100% { transform: translateY(0); }
}
@keyframes bounce-5 {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-30px); }
  100% { transform: translateY(0); }
}
.text-in-zayav{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
}
.right-text p{
  line-height: 1.2;
  margin-bottom: 0;
}
.right-text{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
}
.text-btn{
  font-size: 15px;
}
.button-cl:hover{
  text-decoration: none;
  
  color: #101010;
  box-shadow: 0 0 30px 5px #b0a584;
  /*background: rgb(240,148,51);*/
  /*background: -webkit-linear-gradient(left, rgba(240,148,51,1) 0%, rgba(230,104,60,1) 25%, rgba(220,39,67,1) 50%, rgba(204,35,102,1) 75%, rgba(188,24,136,1) 100%);
  background: -o-linear-gradient(left, rgba(240,148,51,1) 0%, rgba(230,104,60,1) 25%, rgba(220,39,67,1) 50%, rgba(204,35,102,1) 75%, rgba(188,24,136,1) 100%);
  background: linear-gradient(to right, rgba(240,148,51,1) 0%, rgba(230,104,60,1) 25%, rgba(220,39,67,1) 50%, rgba(204,35,102,1) 75%, rgba(188,24,136,1) 100%);*/
}
.button-cl{
/*  transition: background 1s;
*/  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  background: rgb(251,241,180);
  background: -webkit-linear-gradient(rgba(251,241,180,1) 0%, rgba(255,218,112,1) 100%);
  background: -o-linear-gradient(rgba(251,241,180,1) 0%, rgba(255,218,112,1) 100%);
  background: linear-gradient(rgba(251,241,180,1) 0%, rgba(255,218,112,1) 100%);
  border-radius: 20px;
  padding: 22px 25px;
  color: #101010;
}
.icon-button img{
  margin-top: -15px;
}
.text-zayavka{
  margin-bottom: 50px;
}
.text-zayavka, .button{
  margin-left: 50px;
}
.text-main{
  margin-bottom: 40px;
}
.second-section{
  padding-top: 70px;
  /*background-color: #fff;*/
  /*height: 100vh;*/
  position: relative;
  padding-bottom: 70px;
}
.heading p{
  text-align: center;
  font-size: 38px;
}
.cloud{
  position: absolute;
  left: 0;
  bottom: 0;
  top: -28%;
  right: 0;
  width: 100%;
}
.instagram-text-second{
  position: absolute;
  left: 4%;
  top: -5%;
}
.face-text-second{
  position: absolute;
  right: 2%;
  top: -5%;
}
.roket img{
  width: 90%;
  margin-top: -47px;
}
.quest{
  font-size: 30px;
  padding-top: 70px;
  padding-left: 25px;
}
.zayvki{
  padding-left: 25px;
  margin-bottom: 20px;
}
.quest p{
  line-height: 1;
}
.zayvki p{
  line-height: 1.1;
}
.sec-sec{
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}
.second-section .button{
  margin-left: 0;
  padding-left: 25px;
}
.second-section .button-cl{
  padding-left: 10px;
  padding-right: 10px;
}
.usersecond{
  position: absolute;
  right: 0;
  top: 2%;
}
.kavichki{
  position: absolute;
  right: 22%;
  top: 26%;
}

.night-relative{
  position: relative;
}
.night-abs{
  position: absolute;
  left: 0;
  top: 0;
}

.night {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}
.shooting_star {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 2px;
  background: linear-gradient(-45deg, #5f91ff, rgba(0, 0, 255, 0));
  border-radius: 999px;
  -webkit-filter: drop-shadow(0 0 6px #699bff);
  filter: drop-shadow(0 0 6px #699bff);
  -webkit-animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
  animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
}
.shooting_star::before, .shooting_star::after {
  content: '';
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #5f91ff, rgba(0, 0, 255, 0));
  -webkit-transform: translateX(50%) rotateZ(45deg);
  transform: translateX(50%) rotateZ(45deg);
  border-radius: 100%;
  -webkit-animation: shining 3000ms ease-in-out infinite;
  animation: shining 3000ms ease-in-out infinite;
}
.shooting_star::after {
  -webkit-transform: translateX(50%) rotateZ(-45deg);
  transform: translateX(50%) rotateZ(-45deg);
}
.shooting_star:nth-child(1) {
  top: calc(50% - -13px);
  left: calc(50% - 131px);
  -webkit-animation-delay: 5146ms;
  animation-delay: 5146ms;
}
.shooting_star:nth-child(1)::before, .shooting_star:nth-child(1)::after, .shooting_star:nth-child(1)::after {
  -webkit-animation-delay: 5146ms;
  animation-delay: 5146ms;
}
.shooting_star:nth-child(2) {
  top: calc(50% - -130px);
  left: calc(50% - 247px);
  -webkit-animation-delay: 1101ms;
  animation-delay: 1101ms;
}
.shooting_star:nth-child(2)::before, .shooting_star:nth-child(2)::after, .shooting_star:nth-child(2)::after {
  -webkit-animation-delay: 1101ms;
  animation-delay: 1101ms;
}
.shooting_star:nth-child(3) {
  top: calc(50% - 189px);
  left: calc(50% - 25px);
  -webkit-animation-delay: 2253ms;
  animation-delay: 2253ms;
}
.shooting_star:nth-child(3)::before, .shooting_star:nth-child(3)::after, .shooting_star:nth-child(3)::after {
  -webkit-animation-delay: 2253ms;
  animation-delay: 2253ms;
}
@-webkit-keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}
 
@keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}
@-webkit-keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}
@keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}
@-webkit-keyframes shooting {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(300px);
    transform: translateX(300px);
  }
}
@keyframes shooting {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(300px);
    transform: translateX(300px);
  }
}
@-webkit-keyframes sky {
  0% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(405deg);
    transform: rotate(405deg);
  }
}
@keyframes sky {
  0% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(405deg);
    transform: rotate(405deg);
  }
}

.number{
  color: #fff;
}
.number p{
  margin-bottom: 0;
}
.phone-cont{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
}
.icon-ph{
  margin-right: 10px;
}
.line{
  position: absolute;
  top: 0;
  left: 7%;
}

.roket-cont-2{
  display: none;
}

.cloud.second, .cloud.third{
  display: none;
}
.icons-mainblock.sec{
  display: none;
}

/*.cloudtop{
  position: absolute;
  top: calc(0% - 17rem);
  width: 100%;
  z-index: 100;
}
.cloudbott{
  position: absolute;
  bottom: calc(0% - 14rem);
  width: 100%;
  z-index: 100;
}*/



/*-------------3 section------------*/
.bg-heading{
  color: #ffffff29;
  /*font-size: 100px;*/
}
.bg-heading p{
  font-size: 80px;
}
.main-heading{
  color: #fff;
}
.third-section{
  padding-top: 300px;
  position: relative;
  padding-bottom: 300px;
}
.third-section .heading{
  position: relative;
}
.third-section .heading .bg-heading{
  position: absolute;
  top: -1.8rem;
  /*left: 33%;*/
  width: 100%;
}
.first-plane, .second-plane, .paper-holder, .instagram-icon{
  position: absolute;
}
.first-plane{
  right: 0;
  top: 5rem;
}
.second-plane{
  left: 0;
}
.paper-holder{
  right: 0;
  bottom: -5rem;
}
.main-text-about, .text-about{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
}
.header-about{
  color: #fff;
  font-size: 20px;
  text-align: center;
}
.header-about p{
  line-height: 1;
  margin-bottom: 5px;
}
.subheader-about{
  color: #bebebe;
  font-size: 15px;
  text-align: center;
}
.main-text-about{
  border: 1px solid #7d7d7d;
  border-radius: 15px;
  padding-top: 10px;
}
.first-about, .second-about, .third-about, .fourth-about, .fifth-about, .six-about{
  margin: 0 25px;
}
.third-about .header-about p{
  margin-bottom: 8px;
}
.number{
  position: relative;
}
.number-container{
  position: absolute;
  border-radius: 100%;
  background-color: #ffe0a2;
  border: 4px solid #bda582;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  width: 40px;
  height: 40px;
  left: -.7rem;
  top: -.7rem;
  box-shadow: 0 0 30px 2px #b0a584;
}
.number-container p{
  color: #bda582;
}
.first-plane, .paper-holder{
  text-align: right;
}